* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hero image */
/* .hero {
  text-align: center;
  background-image: url(./hero.png);
  background-size: cover;
  background-position: center;
  width: 100vw;
  opacity: 0.3;
} */

add {
  vertical-align: super;
  font-size: smaller;
  color: green;
}

/* choice elements */

choice {
  color: firebrick;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

choice>corr {
  font-style: italic;
  border-bottom: 1px dashed firebrick;
}

choice>sic {
  visibility: hidden;
  background-color: black;
  color: aliceblue;
  text-align: center;
  border-radius: 6px;
  padding: 5px 15px;
  position: absolute;
  white-space: nowrap;
  top: 125%;
  z-index: 1;
}

choice>sic::before{
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

choice:hover>sic {
  visibility: visible;
}

span.worksCited {
  text-indent: 3em hanging each-line;
  line-height: 1.5;
}

span.worksCited>p {
  margin-bottom: 0.5em;
}